__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env
mlruns/
mlartifacts/
artifacts/data_ingestion/
artifacts/model_trainer/
artifacts/model_evaluation/
.dvc/cache/
.dvc/tmp/
logs/
*.log
.DS_Store
.vscode/
.idea/
